# Which JMS broker to connect to
jms.brokerUrl=tcp://127.0.0.1:61616
jms.username=
jms.password=
jms.processes=1

# Where your XSLTs are stored?
# Start with "file://" and absolute path to directory
# ie. xslt.path=file:///home/ubuntu/myXslts
xslt.path=

# Queue to index off of
queue.incoming=activemq:queue:fedora_update

# Queue to put aggregated items on
queue.internal=activemq:queue:internalIndex

# Where to stick messages that fail, a topic will lose them for you. Change to a queue to persist them.
# This is not currently used in the routes.      
queue.dead-letter=activemq:topic:trash

# How many solr update processes should run at a time
solr.processes=1
      
fcrepo.baseUri=http://localhost:8080
fcrepo.basePath=/fedora
fcrepo.authUser=fedoraAdmin
fcrepo.authPassword=

# How many times to try message redelivery
error.maxRedeliveries=3

# The below uses the solr component see http://camel.apache.org/solr.html
solr.baseUrl=solr://localhost:8080/solr
      
# How long to wait before closing an aggregation of events in milliseconds. -->
completion.timeout=10000

# Port number on localhost to open the reindexer endpoint
reindexer.port=9111
reindexer.path=/fedora3-solr-indexer